<?xml version="1.0"?>
<launch>
  <arg name="start_rviz" default="false" />

  <!-- Spawn an instance of devices_node -->
  <node name="node_a" pkg="ros_node_transformation" type="devices_node" output="screen">
    <!-- Upload the configuration of the node in its private namespace -->
    <rosparam file="$(find ros_node_transformation)/config/node_a_config.yaml" command="load" />
  </node>

  <!-- Spawn an instance of devices_node -->
  <node name="node_b" pkg="ros_node_transformation" type="devices_node" output="screen">
    <!-- Upload the configuration of the node in its private namespace -->
    <rosparam file="$(find ros_node_transformation)/config/node_b_config.yaml" command="load" />
  </node>

  <!-- Start rviz stuff -->
  <include file="$(find ros_node_transformation)/launch/rviz.launch" if="$(arg start_rviz)" />
</launch>
